<div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
  <h2 class="sr-only">Products</h2>

  <ng-container *ngIf="!error">
    <p-dataview
      #dv
      [value]="products"
      [lazy]="true"
      (onPage)="findProducts($event)"
      [lazyLoadOnInit]="false"
      [rows]="limit"
      [first]="skip"
      [paginator]="true"
      [totalRecords]="totalProducts"
      [layout]="'grid'"
    >
      <ng-template #grid let-products>
        <div
          class="grid grid-cols-1 gap-y-4 sm:grid-cols-2 sm:gap-x-6 sm:gap-y-10 lg:grid-cols-3 lg:gap-x-8 mb-8"
        >
          <ng-container *ngIf="loading; else dataGrid">
            <ng-container *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9]">
              <app-product-card-skeleton />
            </ng-container>
          </ng-container>

          <ng-template #dataGrid>
            <app-product-card *ngFor="let product of products" [product]="product" />
          </ng-template>
        </div>
      </ng-template>
    </p-dataview>
  </ng-container>

  <app-error *ngIf="error">
    <span class="action"><button (click)="retry()" pButton>Reload</button></span>
  </app-error>
</div>
